.input-text{
	border-color: #dcdbda;
	border-width: 2px;
	border-radius: 10px;
}

.buttons{
	border-radius: 8px;
	width: 100px;
	height: 30px;
}

.delete-button{
	background-color: red;
}

.edit-button{
	background-color: blue;
}

.add-button{
	background-color: purple;
}